{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
    <!--Site hero starts here-->
    <main class="mt-10 mx-auto max-w-7xl px-4 sm:st-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
      <div class="sm:text-center lg:text-left">
        <div class="rounded overflow-hidden shadow-lg p-20 text-left">
            <h2 style="color: red; padding-bottom: 10px;">SECURITY!!!</h2>
            <p style="padding-bottom: 5px;">You seen not to be who you claim you are</p>
          <p>Error in payment as our face identification system has failed to recognize you!</p>
          </div>  
        
      </div>
    </main>
    <!--Site hero ends here-->

    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 gap-5">
      <!--Card 1-->

      
   
    </div>
    <!--pagination code starts here-->
 
    <!--pagination code ends here-->
    
    
{% endblock %}